<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu DE TICKETS</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="clientes">
        <img src="../../../../assets/img/habitaciones/services-icons/nav/usuario1.svg" alt="user icon">
        Clientes</a>
      <a mat-list-item routerLink="servicios">
        <img src="../../../../assets/img/habitaciones/services-icons/nav/consultas.svg" alt="user icon">
        Consultas</a>
      <a mat-list-item routerLink="hoteles">
        <img src="../../../../assets/img/habitaciones/services-icons/nav/ventanillas.svg" alt="user icon">
        Ventanillas</a>
      <a mat-list-item routerLink="usuarios">
        <img src="../../../../assets/img/habitaciones/services-icons/nav/admin.svg" alt="user icon">
        Usuarios</a>
      <a mat-list-item routerLink="habitaciones">
        <img src="../../../../assets/img/habitaciones/services-icons/nav/TICKET BUENO.svg" alt="user icon">
        Tickets</a>
      <a mat-list-item routerLink="reportes">
        <img src="../../../../assets/img/habitaciones/services-icons/nav/reporte.svg" alt="user icon">
        Reportes</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-color">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>CLINICA | UNIVERSIDAD MARIANO GALVEZ</span>
      <span class="spacer"></span>
      <button mat-button class="logout-button" (click)="salir()">Cerrar sesión</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>