<div class="grid-container">
    <h1 class="mat-h1">Tipos de Consulta</h1>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="button" class="ms-3 btn btn-event btn-success"
            (click)="abrirModal(dialogTemplate)">
            Agregar Tipo de Consulta Nuevo
            <span class="btn-icon-end"></span>
        </button>
    </mat-card-actions>
    <mat-card class="example-card card-spacing">
        <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" style="width: 100%;">

                <!-- Position Column -->
                <ng-container matColumnDef="idtipo_consulta">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.idtipo_consulta}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="condicion">
                    <th mat-header-cell *matHeaderCellDef>Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.condicion}} </td>
                </ng-container>

                <!-- Options Column -->
                <ng-container matColumnDef="opc">
                    <th mat-header-cell *matHeaderCellDef> Más Detalles </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-stroked-button color="primary"
                            (click)="abrirModalDetalles(dialogTemplateDetalles,element.idtipo_consulta)">Ver
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsArticulos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsArticulos;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card>
</div>

<!--AGREGAR -->
<ng-template #dialogTemplate>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
                Agregar Tipo de Consulta
            </h3>

        </div>
        <hr>
        <div class="modal-body">
            <!--fomr-->
            <form [formGroup]="form" (ngSubmit)="addTipoConsulta()" class="example-form">
                <div class="form-container">
                    <div class="row">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripción</mat-label>
                            <input matInput formControlName="descripcion" type="text">
                        </mat-form-field>
                    </div>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="warn" type="button" mat-dialog-close>
                        Descartar
                    </button>
                    <button mat-raised-button color="primary" type="submit" mat-dialog-close>
                        Guardar
                    </button>
                </mat-card-actions>
            </form>
        </div>
    </div>
</ng-template>

<!-- MODAL PARA VER LOS DETALLES  -->
<ng-template #dialogTemplateDetalles>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
                Detalles de Tipo de Consulta
            </h3>
        </div>
        <hr>
        <div class="modal-body">
            <mat-card class="example-card card-spacing">
                <mat-card-title-group>
                    <img mat-card-sm-image [src]="this.imagen"
                        (error)="this.imagen = 'https://static.vecteezy.com/system/resources/previews/005/579/665/non_2x/online-health-tele-medicine-flat-illustration-online-medical-healthcare-consultation-and-treatment-via-mobile-phone-application-of-computer-connected-internet-clinic-online-ask-doctor-consultation-free-vector.jpg'"
                        crossorigin="anonymous" class="user-img redimention" alt=""
                        style="width: 100%; height: 380px;  margin-bottom: 10px;">
                </mat-card-title-group>
                <mat-card-content>
                    <p>ID: {{this.idtipo_consulta}}</p>
                    <p>Nombre: {{this.nombre}}</p>
                    <p>Descripción: {{this.descripcion}}</p>
                    <p>Estado: {{this.condicion}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" type="button">Eliminar</button>
                    <button mat-button class="color" type="button"
                        (click)="abrirModalUpdate(dialogTemplateActualizar,this.idtipo_consulta)">Actualizar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-template>

<!--modal para actualizar -->
<ng-template #dialogTemplateActualizar>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
                Actualizar Tipo de Consulta
            </h3>
        </div>
        <hr>
        <div class="modal-body">
            <form [formGroup]="formUpdate" (ngSubmit)="updateTipoConsulta()">
                <div class="form-container">
                    <div class="row">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <input matInput formControlName="descripcion" type="text">
                        </mat-form-field>
                    </div>
                    <div class="row">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Estado</mat-label>
                            <input matInput formControlName="condicion" type="number">
                        </mat-form-field>
                    </div>
                </div>
                <mat-card-actions>
                    <button mat-raised-button color="warn" type="button" mat-dialog-close>
                        Descartar
                    </button>
                    <button mat-raised-button color="primary" type="submit" mat-dialog-close>
                        Guardar
                    </button>
                </mat-card-actions>
            </form>
        </div>
    </div>
</ng-template>
