<div class="grid-container">
    <h1 class="mat-h1">Tickets</h1>

    <mat-card class="example-card card-spacing">
        <mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
            <mat-tab *ngFor="let v of ventanillas" [label]="v.nombre_ventanilla">
                <div class="p-2">
                    <h3>Asignaciones Pendientes de Revision y Atender</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Teléfono</th>
                                <th>Motivo</th>
                                <th>Fecha</th>
                                <th>Atendido</th>
                                <th>Revisado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of asignaciones">
                                <td>{{ a.nombre_cliente }}</td>
                                <td>{{ a.telefono_cliente }}</td>
                                <td>{{ a.motivo_consulta }}</td>
                                <td>{{ a.fecha_hora_creacion | date:'short' }}</td>
                                <td>{{ a.atendido }}</td>
                                <td>{{ a.revisado }}</td>
                                <td style="display: flex;justify-content: center;">
                                    <button (click)="atender(a.idasignacion_consulta)"> Atender
                                    </button>
                                    <button (click)="revisado(a.idasignacion_consulta)"> Revisado
                                    </button>                                    
                                </td>
                            </tr>
                            <tr *ngIf="asignaciones.length === 0">
                                <td colspan="6">No hay asignaciones</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-2">
                    <h3>Asignaciones Revisadas</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Teléfono</th>
                                <th>Motivo</th>
                                <th>Fecha</th>
                                <th>Atendido</th>
                                <th>Revisado</th>
                                <th>Hora Salida</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of asignacionesRevisadas">
                                <td>{{ a.nombre_cliente }}</td>
                                <td>{{ a.telefono_cliente }}</td>
                                <td>{{ a.motivo_consulta }}</td>
                                <td>{{ a.fecha_hora_creacion | date:'short' }}</td>
                                <td>{{ a.atendido }}</td>
                                <td>{{ a.revisado }}</td>
                                <td>{{ a.fecha_hora_salida | date:'short'  }}</td>
                            </tr>
                            <tr *ngIf="asignacionesRevisadas.length === 0">
                                <td colspan="6">No hay asignaciones revisadas</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>