<div class="habitation-card">
    <img class="habitation-image" [src]="imageSrc">
    <div class="habitation-details">
        <div class="habitation-details_information">
            <h3 class="habitation-name">{{title}}</h3>
            <p class="habitation-description">{{description}}</p>
        </div>
        <div class="habitation-details_more">
            <p class="habitation-price">Q.{{habitationPrice}}</p>
            <button class="show-modal btn-details-blue">Reservar</button>
        </div>
    </div>
</div>