<section class="section-styles">
    <div class="container">
        <div class="span-c info-container">
            <h2>Nuestra Historia</h2>
            <p>
                En "Hotel | UMG", comenzamos con una visión: ofrecer una experiencia única y acogedora a cada uno de nuestros huéspedes. Fundado en [año de fundación], nuestro hotel ha evolucionado para convertirse en un lugar donde la comodidad y la calidad se unen.

                Desde el principio, entendimos que un buen servicio es la clave para una estancia memorable. Por eso, desarrollamos un sistema integral que gestiona de manera eficiente nuestras habitaciones, servicios y reservas. Nuestro equipo trabaja incansablemente para garantizar que cada detalle, desde la llegada hasta la salida, esté cuidado.

                A lo largo de los años, hemos crecido y mejorado, siempre enfocados en las necesidades de nuestros huéspedes. En "Hotel | UMG", no solo ofrecemos alojamiento, sino también una experiencia que crea recuerdos duraderos.

                Te invitamos a ser parte de nuestra historia. ¡Bienvenido a casa!
            </p>
            <img src="https://cf.bstatic.com/xdata/images/hotel/max500/179283809.jpg?k=99f816e6c0ff00928148842bd247923101d3df862fe865113fd9025c4347070c&o=&hp=1" alt="">
        </div>
    </div>
    <div class="container">
        <div class="info-container">
            <h2>Misión</h2>
            <p>Nuestra misión es ofrecer una experiencia de hospitalidad excepcional, proporcionando a nuestros huéspedes servicios de alta calidad que superen sus expectativas. Nos comprometemos a crear un ambiente acogedor y confortable, donde cada detalle esté diseñado para garantizar una estadía placentera y memorable. A través de la atención personalizada de nuestro equipo, promovemos un trato cálido, eficiente y respetuoso, asegurándonos de satisfacer las necesidades individuales de cada cliente. Nuestra meta es no solo ser un lugar de descanso, sino también un hogar lejos de casa para quienes nos eligen.
            </p>
        </div>
        <div class="info-container">
            <h2>Visión</h2>
            <p>Nuestra visión es ser reconocidos a nivel nacional e internacional como un referente en la industria hotelera por nuestra excelencia en el servicio, innovación constante y compromiso con la satisfacción del cliente. Aspiramos a liderar el sector, siendo un modelo de sostenibilidad, responsabilidad social y calidad humana. Queremos que cada huésped nos recuerde por nuestras instalaciones de primer nivel, un servicio impecable y una experiencia que inspire confianza y fidelidad a lo largo del tiempo.</p>
        </div>
    </div>
    <div class="container">
        <div class="span-c info-container">
            <h2>Nuestro Equipo de Trabajo</h2>
            <p>Contamos con un equipo de profesionales que se dedican a brindar los mejores servicios.
            </p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl-YD60FxwXujyM39Lg79AALBpSzzzWplRWA&s" alt="">
        </div>
    </div>
</section>