* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #000;
    margin-bottom: 2rem;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-form,
.contact-info {
    flex: 1;
    min-width: 300px;
    padding: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    background-color: #0278AE;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #025f8c;
}

.map {
    margin-bottom: 1.5rem;
}

.info h2 {
    color: #000;
    margin-bottom: 1rem;
}

.info p {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;
    margin-bottom: 0.5rem;
}

.info .icon {
    object-fit: contain;
    height: 20px;
    width: 20px;
}

@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }

    .contact-form,
    .contact-info {
        width: 100%;
    }
}