<div class="container">
    <h1>Contáctanos</h1>
    <div class="contact-wrapper">
        <div class="contact-form">
            <form>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit">Enviar mensaje</button>
            </form>
        </div>
        <div class="contact-info">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7560.743214830763!2d-90.61275217006184!3d14.502892015435384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses-419!2sgt!4v1729655477601!5m2!1ses-419!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
            <div class="info">
                <h2>Información de contacto</h2>
                <p><img class="icon" src="../../../../assets/img/habitaciones/services-icons/about-us/map.svg" alt="">Villa Nueva, Guatemala</p>
                <p><img class="icon" src="../../../../assets/img/habitaciones/services-icons/about-us/phone.svg" alt="">(502) 4457-4567</p>
                <p><img class="icon" src="../../../../assets/img/habitaciones/services-icons/about-us/msg.svg" alt="">info@hotel.com</p>
                <p><img class="icon" src="../../../../assets/img/habitaciones/services-icons/about-us/clock.svg" alt="">Recepción abierta 24/7</p>
            </div>
        </div>
    </div>
</div>