<div class="service-card">
    <img class="service-image" [src]="imageSrc" alt="Foto ilustrativa de Habitación Doble">
    <div class="service-details">
        <div class="service-details_information">
            <h3 class="service-name">{{title}}</h3>
            <p class="service-description">{{description}}</p>
        </div>
        <div class="service-details_more">
            <h4 class="service-type">Servicios y Amenidades</h4>
            <button class="show-modal btn-details-blue">Conoce más...</button>
        </div>
    </div>
</div>