<div class="grid-container">
    <h1 class="mat-h1">Ventanillas</h1>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="button" class="ms-3 btn btn-event btn-success"
            (click)="abrirModal(dialogTemplate)">
            Agregar Ventanilla Nueva
            <span class="btn-icon-end"></span>
        </button>
    </mat-card-actions>
    <mat-card class="example-card card-spacing">
        <mat-form-field appearance="standard" style="width: 100%;">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" style="width: 100%;">

                <!-- Position Column -->
                <ng-container matColumnDef="idventanillas">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.idventanillas}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre_ventanilla">
                    <th mat-header-cell *matHeaderCellDef> Ventanilla </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_ventanilla}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="condicion">
                    <th mat-header-cell *matHeaderCellDef>Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.condicion}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre_tipo_consulta">
                    <th mat-header-cell *matHeaderCellDef> Tipo Consulta </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_tipo_consulta}} </td>
                </ng-container>

                <!-- Options Column -->
                <ng-container matColumnDef="opc">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-stroked-button color="primary"
                            (click)="abrirModalDetalles(dialogTemplateDetalles,element.idventanillas)">Ver
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsArticulos"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsArticulos;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card>
</div>

<!--AGREGAR HOTEL-->
<ng-template #dialogTemplate>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
                Agregar Nueva Ventanilla
            </h3>

        </div>
        <hr>
        <div class="modal-body">
            <!--fomr-->
            <form [formGroup]="form" (ngSubmit)="addVentanilla()" class="example-form">
                <div class="form-container">
                    <div class="row">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <input matInput formControlName="descripcion" type="text">
                        </mat-form-field>

                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Tipo Consulta</mat-label>
                            <mat-select formControlName="idtipo_consulta">
                                <mat-option *ngFor="let tipo of tiposConsulta" [value]="tipo.idtipo_consulta">
                                    {{ tipo.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                </div>

                <mat-card-actions>
                    <button mat-raised-button color="warn" type="button" mat-dialog-close>
                        Descartar
                    </button>
                    <button mat-raised-button color="primary" type="submit" mat-dialog-close>
                        Guardar
                    </button>
                </mat-card-actions>
            </form>
        </div>
    </div>
</ng-template>
<!-- MODAL PARA VER LOS DETALLES DEL ARITUCLO -->
<ng-template #dialogTemplateDetalles>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
                Detalles Habitacion
            </h3>
        </div>
        <hr>
        <div class="modal-body">
            <mat-card class="example-card card-spacing">
                <mat-card-title-group>
                    <img mat-card-sm-image [src]="this.imagen"
                        (error)="this.imagen = 'https://st4.depositphotos.com/1006318/24707/v/450/depositphotos_247078614-stock-illustration-hospital-corridor-hall-with-wheelchair.jpg'"
                        crossorigin="anonymous" class="user-img redimention" alt=""
                        style="width: 100%; height: 280px; margin-bottom: 10px;">
                </mat-card-title-group>
                <mat-card-content>
                    <p>Ventanilla ID: {{this.idventanillas}}</p>
                    <p>Nombre Ventanilla: {{this.nombre_ventanilla}}</p>
                    <p>Descripción: {{this.descripcion}}</p>
                    <p>Estado: {{this.condicion}}</p>
                    <p>Tipo Consulta: {{this.nombre_tipo_consulta}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" type="button">Eliminar</button>
                    <button mat-button class="color" type="button"
                        (click)="abrirModalUpdate(dialogTemplateActualizar,this.idventanillas)">Actualizar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</ng-template>

<!--modal para actualizar habitacion-->
<ng-template #dialogTemplateActualizar>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-basic-title">
                Actualizar Hotel
            </h3>
        </div>
        <hr>
        <div class="modal-body">
            <form [formGroup]="formUpdate" (ngSubmit)="updateVentanilla()" class="example-form">
                <div class="form-container">
                    <div class="row">

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Descripcion</mat-label>
                            <input matInput formControlName="descripcion" type="text">
                        </mat-form-field>

                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Tipo Consulta</mat-label>
                            <mat-select formControlName="idtipo_consulta">
                                <mat-option *ngFor="let tipo of tiposConsulta" [value]="tipo.idtipo_consulta">
                                    {{ tipo.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    </div>
                    <div class="row">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Condición</mat-label>
                            <input matInput formControlName="condicion" type="text">
                        </mat-form-field>

                    </div>

                </div>

                <mat-card-actions>
                    <button mat-raised-button color="warn" type="button" mat-dialog-close>
                        Descartar
                    </button>
                    <button mat-raised-button color="primary" type="submit" mat-dialog-close>
                        Guardar
                    </button>
                </mat-card-actions>
            </form>
        </div>
    </div>
</ng-template>