<section class="hero-image">
  <h1 style="color: black;">Cuidamos tu salud, protegemos tu vida.</h1>

  <a routerLink="/nosotros">Conoce más!</a>
</section>
<section id="habitations" class="section-styles">
  <h2>Nuestras Clinicas</h2>
  <p class="section-description">Elige la excelencia en una Clinica.
    <br>
    Nuestras diferentes clínicas ofrecen atención especializada, tecnología de punta y un equipo dedicado a cuidar tu
    salud con
    profesionalismo y calidez. Porque tu bienestar merece lo mejor.
  </p>
  <div class="bg">
  </div>
  <div style="display: flex;">
    <div class="nft" *ngFor="let ventanilla of allVentanillas">
      <div class="main">
        <img class="tokenImage"
          src="https://media.istockphoto.com/id/1225898954/es/vector/edificio-de-cl%C3%ADnica-s-ilustraci%C3%B3n-plana-simple.jpg?s=612x612&w=0&k=20&c=ENlzQYkaXpdNQqGftI6-a2aQR18Qahc1kgtEtaHb6pA="
          alt="Ventanilla" />
        <h2 style="color: white;">{{ ventanilla.nombre }}</h2>
        <p class="description">{{ ventanilla.descripcion }}</p>
        <div class="tokenInfo">
        </div>
        <hr />
        <div class="creator">
          <div style="display: flex;justify-content: center;">
            <button class="slice" (click)="abrirModal(dialogTemplate,ventanilla.idtipo_consulta)">
              <span class="text">Crear Ticket</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<!--AGREGAR -->
<ng-template #dialogTemplate>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-basic-title">
        Crear Ticket de Cliente
      </h3>

    </div>
    <hr>
    <div class="modal-body">
      <!--fomr-->
      <form [formGroup]="form" (ngSubmit)="addAsignacionTicket()" class="example-form">
        <div class="form-container">
          <div class="row">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="descripcion" type="text">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nombre Cliente</mat-label>
              <input matInput formControlName="nombre_cliente" type="text">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Telefono Cliente</mat-label>
              <input matInput formControlName="telefono_cliente" type="text">
            </mat-form-field>
          </div>
        </div>
        <mat-card-actions>
          <button mat-raised-button color="warn" type="button" mat-dialog-close>
            Descartar
          </button>
          <button mat-raised-button color="primary" type="submit" mat-dialog-close>
            Guardar
          </button>
        </mat-card-actions>
      </form>
    </div>
  </div>
</ng-template>