<section class="hero-image">
  <h1 style="color: black;">Cuidamos tu salud, protegemos tu vida.</h1>

  <a routerLink="/nosotros">Conoce más!</a>
</section>
<section id="habitations" class="section-styles">
  <h2>Nuestras Clinicas</h2>
  <p class="section-description">Elige la excelencia en una Clinica.
    <br>
    Nuestras diferentes clínicas ofrecen atención especializada, tecnología de punta y un equipo dedicado a cuidar tu
    salud con
    profesionalismo y calidez. Porque tu bienestar merece lo mejor.
  </p>
  <div class="bg">
  </div>
  <div style="display: flex;">
    <div class="nft" *ngFor="let ventanilla of allVentanillas">
      <div class="main">
        <img class="tokenImage"
          src="https://media.istockphoto.com/id/1225898954/es/vector/edificio-de-cl%C3%ADnica-s-ilustraci%C3%B3n-plana-simple.jpg?s=612x612&w=0&k=20&c=ENlzQYkaXpdNQqGftI6-a2aQR18Qahc1kgtEtaHb6pA="
          alt="Ventanilla" />
        <h2>{{ ventanilla.nombre }}</h2>
        <p class="description">{{ ventanilla.descripcion }}</p>
        <div class="tokenInfo">
          <div class="price">
            <ins>ID</ins>
            <p>{{ ventanilla.idventanillas }}</p>
          </div>
          <div class="duration">
            <ins>Tipo</ins>
            <p>{{ ventanilla.idtipo_consulta }}</p>
          </div>
        </div>
        <hr />
        <div class="creator">
          <div class="wrapper">
            <img
              src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80"
              alt="Creator" />
          </div>
          <p><ins>Condición:</ins> {{ ventanilla.condicion === 1 ? 'Activa' : 'Inactiva' }}</p>
        </div>
      </div>
    </div>
  </div>


</section>