<footer>
    <div class="help-info">
        <h4>Ayuda</h4>
        <ul>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Contactar a Servicio al Cliente</a></li>
            <li><a href="#">Centro de Recursos</a></li>
            <li><a href="#">Gestiona tus reservaciones</a></li>
        </ul>
    </div>
    <div class="terms-info">
        <h4>Términos y configuración</h4>
        <ul>
            <li><a href="#">Privacidad y Cookies</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
        </ul>
    </div>

    <div class="aditional-info">
        <p>Proyecto de Programación II</p>
        <p>Universidad Mariano Galvez</p>
        <p>Grupo 3</p>
    </div>
</footer>